<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foi.air1712.instad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA9zf8HQ9caG5ZYX-UjdpRfuEzSzV035wQ" />

        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".PrikazSvihActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountManagement.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountManagement.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".notifikacije.NoviDogadajServis" />
    </application>

</manifest>